$eerie-black: #1C2321;
$gun-metal: #2B3D41;
$cadet-gray: #7D98A1;
$light-green: #ADF6B1;
$tea-green: #DBFEB8;
$antiflash-white: #EEF1EF;
$bittersweet: #FF5E5B;


$background: $eerie-black;
$border: $cadet-gray;
$modals: $eerie-black;
$tabs: $gun-metal;
$primary-text: $antiflash-white;
$primary-color: $light-green;
$secondary-color: $tea-green;
$splash-color: $bittersweet;
$icons: $light-green;