@use 'variables';
@use 'mixins';

@mixin uniform-date-area {
    border: 0px;
    resize: none;
    color: variables.$primary-color;
    font-size: 12px;
    font-family: sans-serif;
    background-color: variables.$tabs;
}

.default_date_area {
    @include uniform-date-area;

}

.error_text_area {
    @include uniform-date-area;
    color: variables.$bittersweet
}