@use 'variables';
@use 'mixins';

.plan_detail_cell {
    @include mixins.uniform-cell-style;
    @include mixins.cell-borders;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.plan_header_cell {
    @include mixins.uniform-cell-style;
    @include mixins.cell-borders;
    padding-bottom: 0px;
    grid-row: header;
}