@use 'variables';
@use 'mixins';

.plan_detail_cell {
    @include mixins.uniform-cell-style;
    @include mixins.cell-borders;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 34px;
    
}

.plan_header_cell {
    @include mixins.uniform-cell-style;
    @include mixins.cell-borders;
    
    grid-row: header;
    
    display: flex;
    justify-content: left;
}