@use 'variables';
@use 'mixins';


$primaryColor: variables.$primary-color;

.plan_container {
    display: flex;
    flex-direction:column;
    border: 1px solid variables.$border;
    height: 500px;
    padding-left: 10px;
}

.plan_details {
    h1 {
        color: variables.$primary-color;
    }
}

.plan_table {
    display: grid;   
    align-items: end;
    grid-row-gap: 1px;
    div {
        color: variables.$primary-color;
        
        font-size: 12px;
  
    }
    
}

.plan_header_cell {
    grid-row: header;
    border-bottom: 1px solid variables.$border;
    padding: 2px 5px;
}

.plan_detail_cell {
    border-right: 1px solid variables.$border;
    border-bottom: 1px solid variables.$border;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
}
/*
.plan_row {
    @include mixins.plan-columns;
    border-bottom: 1px solid variables.$border;
    grid-column: plan-left /plan-right;
    display: grid;
    grid-template-rows: 1fr;
    height: 50px;
    color: variables.$primary-text;
    justify-items: left;
    align-items: center;
}
*/

.tables_wrapper {
    display: flex;
    color: variables.$primary-color;
    
}

.plan_column_one {
    width: 50px;
    font-size: 12px;
    display: grid;
    align-items: end;
    width: auto;
    border-right: 2px solid variables.$border;
    border-left: 1px solid variables.$border;
    div {
        padding: 2px 5px;
        width: 80px;
        display: flex;
        justify-content: left;
        align-items: center;
        vertical-align: center;
        border-bottom: 1px solid variables.$border;
    }
    div:first-of-type{
        border-top: 1px solid variables.$border;
    }
}