@use 'variables';
@use 'mixins';


$primaryColor: variables.$primary-color;

.plan_container {
    display: flex;
    flex-direction: column;
    border: 1px solid variables.$border;
    height: 500px;
    padding-left: 10px;
}

.plan_details {
    h1 {
        color: variables.$primary-color;
    }
}

.plan_table {
    @include mixins.uniform-grid-settings;
}

/*
.plan_row {
    @include mixins.plan-columns;
    border-bottom: 1px solid variables.$border;
    grid-column: plan-left /plan-right;
    display: grid;
    grid-template-rows: 1fr;
    height: 50px;
    color: variables.$primary-text;
    justify-items: left;
    align-items: center;
}
*/

.tables_wrapper {
    display: flex;
    color: variables.$primary-color;
    
}

.plan_column_one {
    @include mixins.uniform-grid-settings;
    font-size: 12px;
    width: fit-content;
    // .plan_header_cell {
    //     width: 150px;
    // }
    // .detail_cell {
    //     width: 150px;
    // }
    div:first-of-type{
        border-top: 1px solid variables.$border;
    }
}