@use 'variables';
@use 'mixins';

@mixin uniform_text_button {
    font-weight: bolder;
    border-width: 2px;
    border-style: solid; 
    border-radius: 4px;
    font-size: 10px;
    padding: 4px;
}

@mixin default_button_color {
    color: variables.$primary-color;
    background-color: variables.$background;
    border-color: variables.$primary-color;
}

.default_text_button {
    @include uniform_text_button;
    color: variables.$primary-color;
    background-color: variables.$background;
    border-color: variables.$primary-color;
}




.inverted_text_button {
    @include uniform_text_button;
    color: variables.$primary-color;
    background-color: variables.$primary-color;
    
}