@use 'variables';
@use 'mixins';

@mixin uniform-text-area {
    border: 0px;
    resize: none;
    color: variables.$primary-color;
    font-size: 12px;
    font-family: sans-serif;
    background-color: variables.$tabs;
}

.default_text_area {
    @include uniform-text-area;

}

.error_text_area {
    @include uniform-text-area;
    color: variables.$bittersweet
}